*{
    padding: 0;
    margin: 0;
}
li { 
    width: 300%;
    padding: 0 20px;
}
li img {
    height: 100%;
}
.main, .aside{
    background: #77C432;
    height: 650px;
    justify-content: center;
    
}
.under {
    height: 150px;
}
.row ul {
    height: 100%;
    display: flex;
    list-style: none;
}
.row {
    height: 25%;
    align-self: center;
}
.btn-side {
    width:100%;
    height: 25%;
    background: yellow;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
}
.nav{
    color: white;
    background: black;
}
.footer-copyright img{
    height: 5vh;
}