*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../assets/blue-squares-backgrounds-powerpoint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
li { 
    width: 300%;
    padding: 0 20px;
}
.main{
    background: rgba(206, 211, 201, 0.3);/*119, 196, 50*/
    border-radius: 3%;
    height: 75.5vh;
    justify-content: center;
    
}
.under{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}   
.btn-side  {
    height: 80%;
    font-size: 1.6em;
    width: 250px;   
    border: 1px black solid;
    border-radius: 25px;  
    justify-content: center;
    align-items: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgba(58, 122, 16, 0.8);
    color: rgb(255, 255, 255);
}
.btn-side:hover {
    background-color: rgb(184, 174, 159); /* Green */
    color: white;
}
.btn-side:disabled {
    background-color: rgba(103, 13, 163, 0.8);
    color: rgb(155, 151, 151)
}

.row ul {
    height: 100%;
    display: flex;
    list-style: none;
}
.row {
    height: 25%;
    align-self: center;
}
.footer{
    font-size: 1.2em;
}
.footer img{
    height: 5vh;
}
.item {
    background: #343A40;
    margin: .5em;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 5px 10px 18px #000;
}
.row1 li > div{
    background: rgb(153, 160, 172);
}
.row2 li > div{
    background: rgb(138, 145, 152);
}
.row3 li > div{
    background: rgb(113, 120, 127);
}
.row4 li > div{
    background: rgb(88, 95, 102);
}
.navbar-brand, .nav-link{
    color:white;
}

