*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../assets/blue-squares-backgrounds-powerpoint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
li { 
    width: 300%;
    padding: 0 20px;
}
.main{
    background: rgba(206, 211, 201, 0.3);/*119, 196, 50*/
    border-radius: 3%;
    height: 75.5vh;
    justify-content: center;
    
}
.under{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}   
.btn-side  {
    height: 80%;
    width: 250px;   
    border: 1px black solid;
    border-radius: 25px;  
    justify-content: center;
    align-items: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgba(206, 211, 201, 0.3);
}
.btn-side:hover {
    background-color: #343A40; /* Green */
    color: white;
}
.row ul {
    height: 100%;
    display: flex;
    list-style: none;
}
.row {
    height: 25%;
    align-self: center;
}
.nav{
    color: white;
    background: black;
}
.footer-copyright img{
    height: 5vh;
}
.item {
    background: #343A40;
    margin: .5em;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 5px 10px 18px #000;
}